
@use "./src/scss/theme/dark-theme.scss" as *;


.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  //background-color: saddlebrown;
}

.app-sidebar {
  display: none;
}
.app-sidebar-mob {
}

.sidebar-container {
  // [!] Set width "100px" to watch the container - Set "auto" default [!]
  width: auto;
  height: 100vh; // <- TESTING - TESTING - TESTING - TESTING
  max-height: 100vh;

  // [!] Debug-Border [!]
  //border: 1px solid red;
  //background-color: darkgrey;
}

.main-container {
  //position: relative; // <- THis property is in testing mode
  max-width: 100vw; // <- THis property is in testing mode
  max-height: 100vh;
  //padding: 0 1.6em;
  overflow-y: auto;


  // [!] Debug-Border [!]
  //border: 1px solid #74ff00;
  //background-color: mediumpurple;
}

.title {
  font-family: $font-primary;
  font-size: 2.3rem;
}

p {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
}


.phantom-container {
  position: sticky;
  top: -10px;
  //width: 100%;
  height: $phantom-container-size-mob;
  //filter: blur(10px);
  z-index: 22;
  background: rgb(21,21,23);
  background: linear-gradient(180deg, rgba(21,21,23,1) 59%, rgba(21,21,23,0.9444152661064426) 91%, rgba(0,0,0,0) 100%);
  //background-color: teal;
}



/*-----------------------------------------------------------.
|                       - RESPONSIVE -                       |
'-----------------------------------------------------------*/

// » Tablet
@media only screen and (min-width: 500px) {

}

// » Tablet (Large)
@media only screen and (min-width: 600px) {

}

// » Laptop [-Small-]
@media only screen and (min-width: 1024px) {
  .app-sidebar-mob {
    display: none;
    visibility: hidden;
  }
  .app-sidebar {
    display: block;
  }
  .phantom-container {
    height: $phantom-container-size-desk;
  }
}

// » Laptop (13" Approx)
@media only screen and (min-width: 1220px) {

}

// » Laptop (15" Approx)
@media only screen and (min-width: 1440px) {

}

// » Laptop (16" Approx)
@media only screen and (min-width: 1650px) {

}

// » Desktop (Medium)
@media only screen and (min-width: 1900px) {

}

// » Desktop (Large)
@media only screen and (min-width: 2500px) {

}








