@use "./src/scss/theme/dark-theme.scss" as *;


.sidebar-desk-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28vw;
  min-height: 100vh;
  background-color: $bg-sidebar-clr;
}

.nav-item-desk {
  display: block;
  color: $menu-items-primary-clr;
  font-family: $font-primary;
  font-size: 2rem;

  padding-top: .1em;
  padding-bottom: .1em;
  padding-left: calc(100% / 3.33);

  transition: background-color .5s ease-in-out;
}
.nav-item-desk:hover {
  background-color: rgba(33, 70, 77, 0.31);
}

.active-item {
  color: $menu-items-active-clr;
}

.footer-desk-container {
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.3em 0;
  background-color: $footer-bg-clr;

  p {
    color: #909090;
    font-family: $font-secondary;
    font-size: .8rem;
    text-align: center;
  }
}


/*-----------------------------------------------------------.
|                       - RESPONSIVE -                       |
'-----------------------------------------------------------*/

// » Tablet | [!] This element doesn't exists on mobile view.
@media only screen and (min-width: 500px) { }
// » Tablet (Large) | [!] This element doesn't exists on tablet view.
@media only screen and (min-width: 600px) { }


// » Laptop [-Small-]
@media only screen and (min-width: 1024px) {
  .sidebar-desk-container {
    width: 24vw;
    max-width: 18rem;
  }
  .nav-item-desk {
    font-size: clamp(1.7rem, 1.9vw + .6rem, 2.2rem);
  }
}

// » Laptop (13" Approx)
@media only screen and (min-width: 1220px) {

}

// » Laptop (15" Approx)
@media only screen and (min-width: 1440px) {
  .nav-item-desk {
    font-size: clamp(1.7rem, 2vw + .6rem, 2.2rem);
  }
}

// » Laptop (16" Approx)
@media only screen and (min-width: 1650px) { }

// » Desktop (Medium)
@media only screen and (min-width: 1900px) { }

// » Desktop (Large)
@media only screen and (min-width: 2500px) {
  .sidebar-desk-container {
    max-width: 17vw;
  }
}

