
<div class="sidebar-desk-container">
  <nav   class="menu-container">
    <ul>
      <li>
        <a href="#" routerLink="/" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}" class="nav-item-desk">INICIO</a>
      </li>
      <li>
        <a href="#" routerLink="/acerca-de-mi" routerLinkActive="active-item" class="nav-item-desk">ACERCA DE MI</a>
      </li>
      <li>
        <a href="#" routerLink="/portafolio" routerLinkActive="active-item" class="nav-item-desk">PORTAFOLIO</a>
      </li>
      <li>
        <a href="#" routerLink="/contacto" routerLinkActive="active-item" class="nav-item-desk">CONTACTO</a>
      </li>
    </ul>
  </nav>


  <footer class="footer-desk-container">
    <p>&copy; Copyright | 2023</p>
  </footer>
</div>
