
// - [Bebas Neue] -
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// - [Lato] -
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');




// --- Main Colors --- //
$bg-primary-clr: #151517;
$bg-secondary-clr: #25232A;

// » This container creates a blur effect when scrolling up,
//   the size is the height this element has on the screen.
$phantom-container-size-mob: 9%;
$phantom-container-size-desk: 5%;

// --- Text colors --- //
$font-primary-clr: #F2F2F2;
// --- Text Size --- //
$titles-size-mob: 2.8rem;
$paragraphs-size-mob: 1rem;

/*--------------------.
|       - Text -      |
'--------------------*/
// » Fonts
$font-primary: 'Bebas Neue', cursive;
$font-secondary: 'Lato', sans-serif;
// » Titles
$titles-primary-clr: #FDFDFD;
// » Paragraphs
$paragraphs-secondary-clr: #E6E6E6;


/*--------------------.
|     - SideBar -     |
'--------------------*/
// » Background color
$bg-sidebar-clr: #232425;
// » Sidebar Size » Recommended size between (30vw - 70vw)
$sidebar-size: 70vw;
// » Hamburger menu
$hamburger-stroke-clr: #FDFDFD;
$hamburger-bg-clr: #2c3138;
$hamburger-circle-size: 3.5rem;
// » Menu item color
$menu-items-primary-clr: #FDFDFD;
// » Menu active item color
$menu-items-active-clr: #be9d6a;
// » Footer color
$footer-bg-clr: #2e2e2e;

/*--------------------.
|     - Buttons -     |
'--------------------*/
// » Neutral buttons
$btn-font-primary-clr: #FDFDFD;
$btn-bg-primary-clr: #21464d;

// » Accent buttons



/*-----------------------------------------------------------.
|                       - RESPONSIVE -                       |
'-----------------------------------------------------------*/

// » Tablet
@media only screen and (min-width: 500px) {}

// » Tablet (Large)
@media only screen and (min-width: 600px) {}

// » Laptop [-Small-]
@media only screen and (min-width: 1024px) {}

// » Laptop (13" Approx)
@media only screen and (min-width: 1220px) {}

// » Laptop (15" Approx)
@media only screen and (min-width: 1440px) {}

// » Laptop (16" Approx)
@media only screen and (min-width: 1650px) {}

// » Desktop (Medium)
@media only screen and (min-width: 1900px) {}

// » Desktop (Large)
@media only screen and (min-width: 2500px) {}

